<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img-privadas/faviconlinhamasterv2.png" type="image/png">
    <title>Cadastro de F.I.N.O's</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@200;300;400;700&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"
        integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style-dashboard.css">
</head>
</head>

<body>
    <div class="navbardiv">
        <%- include('navbar') %>
    </div>
    <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert" id="Message"
        style="display:none">
        Sucesso!
    </div>
    <div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert" id="MessageError"
        style="display:none">
        Erro!
    </div>
    <div class="container mt-5 content">
        <h2>Formulário de Implantação de Novas Operadoras</h2>
        <div id="novoFino">
            <button class="btn btn-secondary esconderMostrar mb-4" type="button">
                <i class="bi bi-chevron-compact-right"></i> Exibir/ Esconder Formulário
            </button>
            <form id="cadastrar-fino-form" class="d-none">
                <div class="row">
                    <label for="administradora" class="form-label">Administradora</label>
                    <select name="administradora" id="administradora" class="form-control" required>
                        <option value="" disabled selected>Selecionar</option>
                        <option value="Mount Hermon" REQUIRED>Mount Hermon</option>
                        <option value="Classe Administradora">Classe Administradora</option>
                        <option value="Compar">Compar</option>
                    </select>
                </div>
                <div class="row">
                    <label for="modalidade" class="form-label">Modalidade</label>
                    <select name="modalidade" id="modalidade" class="form-control" required>
                        <option value="" disabled selected>Selecionar</option>
                        <option value="Estipulante">Estipulante</option>
                        <option value="Subestipulante">Subestipulante</option>
                    </select>
                </div>
                <div class="row">
                    <label for="operadora" class="form-label">Operadora</label>
                    <select name="operadora" id="operadora" class="form-control" required>
                        <option value="" disabled selected>Selecionar</option>
                        <% operadoras.forEach(function(operadora) { %>
                            <option value="<%= operadora.id %>">
                                <%= operadora.nomefantasia %>
                            </option>
                            <% }); %>
                    </select>
                </div>

                <div class="row">
                    <label for="" class="form-label">Selecione as entidades aprovadas</label>
                    <div class="entidades">
                        <% entidades.forEach(function(entidade) { %>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="entidade_<%= entidade.id %>"
                                    value="<%= entidade.id %>">
                                <label class="form-check-label" for="entidade_<%= entidade.id %>"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="<%= entidade.descricao %>">
                                    <%= entidade.nome %>
                                </label>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <div class="row">
                    <h3>Condições Comerciais</h3>
                    <div class="mb-3 row">
                        <div class="col-sm-3">
                            <label for="">Comissão</label>
                        </div>
                        <div class="col-sm-3">
                            <select name="negcomissao" id="negcomissao" class="form-control" required>
                                <option value="" disabled selected>Selecionar</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-text">%</span>
                                <input type="number" name="comissaovalor" id="comissaovalor" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-3">
                            <label for="">Agenciamento</label>
                            <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                        </div>
                        <div class="col-sm-3">
                            <select name="negcomissao" id="negagenciamento" class="form-control" required>
                                <option value="" disabled selected>Selecionar</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-text">%</span>
                                <input type="number" name="agenciamentovalor" id="agenciamentovalor" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <label for="fxetaria1" class="col-sm-3 col-form-label">Observações Negociações</label>
                        <div class="col-sm-6 d-flex align-items-start">
                            <textarea name="negobs" id="negobs" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Vigências</h3>
                    <div class="mb-3 row">
                        <label for="aniversariocontrato" class="form-label"> Aniversário Contrato </label>
                        <input type="date" class="form-control" name="aniversariocontrato" id="aniversariocontrato">
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5> Vigência </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5> Movimentação </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5> Fechamento </h5>
                        </div>
                    </div>
                    <div class="row vigencias">
                        <div class="row vigencia" id="vigencia-1">
                            <div class="col-sm-3">
                                <select name="diaVigencia" id="diaVigencia" class="form-control" required>
                                    <option value="" disabled selected>Selecionar</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select name="diaMovimentacao" id="diaMovimentacao" class="form-control">
                                    <option value="" disabled selected>Selecionar</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select name="diaFechamento" id="diaFechamento" class="form-control">
                                    <option value="" disabled selected>Selecionar</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-danger excluir-vigencia"><i
                                        class="bi bi-trash-fill"></i></button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary adicionar-vigencia"><i
                                class="bi bi-plus-circle"></i></button>
                    </div>
                </div>
                <div class="row documentacao">
                    <h3>Documentação</h3>
                    <div class="col-sm-6">
                        <label for="">A operadora requisitou a documentação para análise de propostas?</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="docoperadora" id="docoperadora" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">O contrato já foi assinado pela Operadora?</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="assOperadora" id="assOperadora" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">O contrato já foi assinado pela Administradora?</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="assAdm" id="assAdm" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                </div>
                <div class="row layouts">
                    <h3>Propostas</h3>
                    <div class="col-sm-6">
                        <label for="">Forma de envio das propostas:</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="enviopropostas" id="enviopropostas" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Preenchimento direto no portal da operadora">Preenchimento direto no portal da operadora</option>
                            <option value="Envio por e-mail">Envio por e-mail</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">Layout das propostas:</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="layoutpropostas" id="layoutpropostas" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Padrão da Operadora">Padrão da Operadora</option>
                            <option value="Sugerido pela Administradora">Sugerido pela Administradora</option>
                        </select>
                    </div>
                </div>
                <div class="row outros">
                    <h3>Outros</h3>
                    <div class="col-sm-6">
                        <label for="">O logo da operadora foi enviado ao marketing?</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="logoOperadora" id="logoOperadora" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">O manual da marca foi enviado ao marketing?</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="manualmarca" id="manualmarca" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">Possui modelo de declaração de saúde?</label>
                        <span class="attention-icon d-none"><i class="bi bi-exclamation-triangle-fill"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <select name="modelodeclaracao" id="modelodeclaracao" class="form-control" required>
                            <option value="" disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <h3>Observações sobre o FINO</h3>
                    <div class="form-group">
                        <label for="obsFino">Datas previstas para assinatura de contrato se for o caso, envio das
                            informações para os demais departamentos. etc...</label>
                        <textarea id="obsFino" class="form-control" type="text" name="obsFino" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <button type="submit" form="cadastrar-fino-form" class="btn btn-primary cadastrar"
                        id="cadastrar-produto">CADASTRAR FINO</button>
                </div>
            </form>
        </div>
        <div id="finoscadastrados">
            <div class="row">
                <h2> Finos Cadastrados </h2>
                <% if (finos.length> 0) { %>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numero Fino</th>
                                <th scope="col">Operadora</th>
                                <th scope="col">Administradora</th>
                                <th scope="col">Data última atualização</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% finos.forEach(function(fino) { %>
                                <tr>
                                    <td>
                                        <%= fino.id %>
                                    </td>
                                    <td>
                                        <% const operadoraId=fino.id_operadora; %>
                                            <% const operadoraEncontrada=operadoras.find(operadora=> operadoraId ===
                                                operadora.id); %>
                                                <%= operadoraEncontrada ? operadoraEncontrada.nomefantasia : '' %>
                                    </td>
                                    <td>
                                        <%= fino.administradora %>
                                    </td>
                                    <td>
                                        <script>
                                            var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                                            var dataAtualizacao = new Date('<%= fino.dataatualizacao %>').toLocaleDateString('pt-BR', options);
                                            document.write(dataAtualizacao);
                                        </script>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary editar-btn"
                                            data-bs-toggle="collapse" data-bs-target="#editar<%= fino.id %>"
                                            aria-expanded="false" aria-controls="editar<%= fino.id %>">
                                            Editar
                                        </button>
                                        <button type="button"
                                            class="btn btn-secondary cancelar-btn d-none">Cancelar</button>
                                        
                                        <a href="/fino/<%= fino.id %>" target="_blank"><button type="button" class="btn btn-secondary visualizar">Visualizar</button></a>
                                    </td>
                                </tr>
                                <tr class="collapse editar-form-container" id="editar<%= fino.id %>"
                                    data-id="<%= fino.id %>">
                                    <td colspan="4">
                                        <h4>Dados do Fino</h4>
                                        <form class="editar-form" data-id="<%= fino.id %>">
                                            <div class="row">
                                                <div class="row">
                                                    <input type="hidden" class="form-control" id="administradora-value"
                                                        name="administradora-value" value="<%= fino.administradora %>">
                                                    <label for="administradora"
                                                        class="form-label">Administradora</label>
                                                    <select name="administradora" id="administradora"
                                                        class="form-control" required>
                                                        <option value="" disabled selected>Selecionar</option>
                                                        <option value="Mount Hermon" REQUIRED>Mount Hermon</option>
                                                        <option value="Classe Administradora">Classe Administradora
                                                        </option>
                                                        <option value="Compar">Compar</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <input type="hidden" class="form-control" id="modalidade-value"
                                                        name="modalidade-value" value="<%= fino.modalidade %>">
                                                    <label for="modalidade" class="form-label">Modalidade</label>
                                                    <select name="modalidade" id="modalidade" class="form-control">

                                                        <option value="" disabled selected>Selecionar</option>
                                                        <option value="Estipulante">Estipulante</option>
                                                        <option value="Subestipulante">Subestipulante</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <input type="hidden" class="form-control" id="operadora-value"
                                                        name="operadora-value" value="<%= fino.id_operadora %>">
                                                    <label for="operadora" class="form-label">Operadora</label>
                                                    <select name="operadora" id="operadora" class="form-control">
                                                        <option value="" disabled selected>Selecionar</option>
                                                        <% operadoras.forEach(function(operadora) { %>
                                                            <option value="<%= operadora.id %>">
                                                                <%= operadora.nomefantasia %>
                                                            </option>
                                                            <% }); %>
                                                    </select>
                                                </div>

                                                <div class="row">
                                                    <label for="" class="form-label">Selecione as entidades
                                                        aprovadas</label>
                                                    <div class="entidades">
                                                        <% var entidadesAssociadas=[];
                                                            entidadesform.forEach(function(entidadeform) { if
                                                            (entidadeform.formulario_id===fino.id) {
                                                            entidadesAssociadas.push(entidadeform.entidade_id); } }); %>
                                                            <% entidades.forEach(function(entidade) { %>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        id="entidade_<%= entidade.id %>"
                                                                        value="<%= entidade.id %>" <% if
                                                                        (entidadesAssociadas.includes(entidade.id)) { %>
                                                                    checked <% } %>>
                                                                        <label class="form-check-label"
                                                                            for="entidade_<%= entidade.id %>"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            title="<%= entidade.descricao %>">
                                                                            <%= entidade.nome %>
                                                                        </label>
                                                                </div>
                                                                <% }); %>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <h3>Condições Comerciais</h3>
                                                    <div class="mb-3 row">
                                                        <input type="hidden" class="form-control" id="negcomissao-value"
                                                            name="negcomissao-value" value="<%= fino.negcomissao %>">
                                                        <div class="col-sm-3">
                                                            <label for="">Comissão</label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <select name="negcomissao" id="negcomissao" class="form-control" required>
                                                                <option value="" disabled selected>Selecionar</option>
                                                                <option value="Sim">Sim</option>
                                                                <option value="Não">Não</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="input-group">
                                                                <span class="input-group-text">%</span>
                                                                <input type="number" name="comissaovalor"
                                                                    id="comissaovalor" class="form-control"
                                                                    value="<%= fino.comissaovalor %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <input type="hidden" class="form-control"
                                                            id="negagenciamento-value" name="negagenciamento-value"
                                                            value="<%= fino.negagenciamento %>">
                                                        <div class="col-sm-3">
                                                            <label for="">Agenciamento</label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <select name="negcomissao" id="negagenciamento" class="form-control" required>
                                                                <option value="" disabled selected>Selecionar</option>
                                                                <option value="Sim">Sim</option>
                                                                <option value="Não">Não</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="input-group">
                                                                <span class="input-group-text">%</span>
                                                                <input type="number" name="agenciamentovalor"
                                                                    id="agenciamentovalor" class="form-control"
                                                                    value="<%= fino.agenciamentovalor %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="fxetaria1"
                                                            class="col-sm-3 col-form-label">Observações
                                                            Negociações</label>
                                                        <div class="col-sm-6 d-flex align-items-start">
                                                            <textarea name="negobs" id="negobs" class="form-control"
                                                                rows="3"><%= fino.negobs %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <h3>Vigências</h3>
                                                    <div class="mb-3 row">
                                                        <label for="aniversariocontrato" class="form-label"> Aniversário
                                                            Contrato </label>
                                                        <input type="date" class="form-control"
                                                            name="aniversariocontrato" id="aniversariocontrato"
                                                            value="<%= fino.aniversariocontrato %>">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h5> Vigência </h5>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <h5> Movimentação </h5>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <h5> Fechamento </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row vigencias">
                                                        <% for (let i=0; i < vigencias.length; i++) { const
                                                            vigencia=vigencias[i]; if (vigencia.id_fino===fino.id) { %>
                                                            <div class="row vigencia" id="<% vigencia.id %>">
                                                                <div class="col-sm-3">
                                                                    <select name="diaVigencia" id="diaVigencia"
                                                                        class="form-control" required>
                                                                        <% const dias=['1', '2' , '3' , '4' , '5' , '6'
                                                                            , '7' , '8' , '9' , '10' , '11' , '12'
                                                                            , '13' , '14' , '15' , '16' , '17' , '18'
                                                                            , '19' , '20' , '21' , '22' , '23' , '24'
                                                                            , '25' , '26' , '27' , '28' , '29' , '30'
                                                                            , '31' ]; %>

                                                                            <% dias.forEach(dia=> { %>
                                                                                <option value="<%= dia %>"
                                                                                    <%=dia===vigencia.iniciodavigencia
                                                                                    ? 'selected' : '' %>><%= dia %>
                                                                                </option>
                                                                                <% }); %>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <select name="diaMovimentacao" id="diaMovimentacao"
                                                                        class="form-control" required>
                                                                        <% dias.forEach(dia=> { %>
                                                                            <option value="<%= dia %>"
                                                                                <%=dia===vigencia.movimentacao
                                                                                ? 'selected' : '' %>><%= dia %>
                                                                            </option>
                                                                            <% }); %>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <select name="diaFechamento" id="diaFechamento"
                                                                        class="form-control" required>
                                                                        <% dias.forEach(dia=> { %>
                                                                            <option value="<%= dia %>"
                                                                                <%=dia===vigencia.datafaturamento
                                                                                ? 'selected' : '' %>><%= dia %>
                                                                            </option>
                                                                            <% }); %>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <button type="button"
                                                                        class="btn btn-danger excluir-vigencia"><i
                                                                            class="bi bi-trash-fill"></i></button>
                                                                </div>
                                                            </div>
                                                            <% }} %>
                                                                <button type="button"
                                                                    class="btn btn-primary adicionar-vigencia"><i
                                                                        class="bi bi-plus-circle"></i></button>
                                                    </div>
                                                </div>
                                                <div class="row documentacao">
                                                    <input type="hidden" class="form-control" id="docoperadora-value"
                                                        name="docoperadora-value" value="<%= fino.docoperadora %>">
                                                    <h3>Documentação</h3>
                                                    <div class="col-sm-6">
                                                        <label for="">A operadora requisitou a documentação para análise
                                                            de propostas?</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="docoperadora" id="docoperadora" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="hidden" class="form-control"
                                                            id="assOperadora-value" name="assOperadora-value"
                                                            value="<%= fino.assOperadora %>">
                                                        <label for="">O contrato já foi assinado pela Operadora?</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="assOperadora" id="assOperadora" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="hidden" class="form-control"
                                                            id="assAdministradora-value" name="assAdministradora-value"
                                                            value="<%= fino.assAdministradora %>">
                                                        <label for="">O contrato já foi assinado pela
                                                            Administradora?</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="assAdm" id="assAdm" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row layouts">
                                                    <h3>Propostas</h3>
                                                    <div class="col-sm-6">
                                                        <input type="hidden" class="form-control"
                                                            id="enviopropostas-value" name="enviopropostas-value"
                                                            value="<%= fino.enviopropostas %>">
                                                        <label for="">Forma de envio das propostas:</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="enviopropostas" id="enviopropostas" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Preenchimento direto no portal da operadora">Preenchimento direto no portal da operadora</option>
                                                            <option value="Envio por e-mail">Envio por e-mail</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="hidden" class="form-control"
                                                            id="layoutpropostas-value" name="layoutpropostas-value"
                                                            value="<%= fino.layoutpropostas %>">
                                                        <label for="">Layout das propostas:</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="layoutpropostas" id="layoutpropostas" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Padrão da Operadora">Padrão da Operadora</option>
                                                            <option value="Sugerido pela Administradora">Sugerido pela Administradora</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row outros">
                                                    <h3>Outros</h3>
                                                    <div class="col-sm-6">
                                                        <input type="hidden" class="form-control"
                                                            id="logoOperadora-value" name="logoOperadora-value"
                                                            value="<%= fino.logoOperadora %>">
                                                        <label for="">O logo da operadora foi enviado ao
                                                            marketing?</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="logoOperadora" id="logoOperadora" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="hidden" class="form-control" id="manualmarca-value"
                                                            name="manualmarca-value" value="<%= fino.manualmarca %>">
                                                        <label for="">O manual da marca foi enviado ao
                                                            marketing?</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="manualmarca" id="manualmarca" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="hidden" class="form-control"
                                                            id="modelodeclaracao-value" name="modelodeclaracao-value"
                                                            value="<%= fino.modelodeclaracao %>">
                                                        <label for="">Possui modelo de declaração de saúde?</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="modelodeclaracao" id="modelodeclaracao" class="form-control" required>
                                                            <option value="" disabled selected>Selecionar</option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <h3>Observações sobre o FINO</h3>
                                                    <div class="form-group">
                                                        <label for="obsFino">Datas previstas para assinatura de contrato
                                                            se for o caso, envio das
                                                            informações para os demais departamentos. etc...</label>
                                                        <textarea id="obsFino" class="form-control" type="text"
                                                            name="obsFino" rows="5"><%= fino.obsFino %></textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="row acoes-produto">
                                                        <button type="submit" class="btn btn-success salvar-btn">Salvar
                                                            Alterações</button>
                                                        <button type="button" class="btn btn-danger excluir-btn"
                                                            data-id="<%= fino.id %>">Excluir Fino</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                        <table>
                            <% } else {%>
                                <p>Não há finos cadastrados.</p>
                                <% } %>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="js/jsFino.js"></script>

</html>